.meeting-container {
  display: flex;
  width: 60vw;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  background-color: orange;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
}

.meeting-container > h1 {
  color: darkblue;
  margin: 0;
}


.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0px;
}

.home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
  height: 35px;
  padding: 5px;
  border-radius: 2px;
  width: 100%;
  margin-bottom: 10px;
  position: sticky;
  top: 45px;
  right: 0;
}

.home-header > h3 {
  margin-left: 10px;
}

.user-buttons {
  background-color: darkblue;
  color: white;
}

.add-meeting {
  background-color: darkblue;
  color: white;
}

.meeting-container > h2 {
  margin-top: 0;
}

.meeting-details {
  display: flex;
  flex-direction: column;
  background-color:lightgray;
  color: darkblue;
  border-radius: 2px;
  padding: 5px;
}
