.nav-bar > ul {
    display: flex;
    list-style: none;
    background-color: black;
    justify-content: space-around;
    margin: 0;
}

.nav-bar > ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.nav-bar > ul > li > a {
    text-decoration: none;
    color: white;
}

.nav-bar > ul > li > a:visited {
    color: white;
}

.nav-bar {
    position: sticky;
    top: 0;
    right: 0;
    margin: 0;
}