.nav-bar > ul {
    display: flex;
    list-style: none;
    background-color: black;
    justify-content: space-around;
}

li {
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

li > a {
    text-decoration: none;
    color: white;
}

li > a:visited {
    color: gray;
}